body{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-y: visible;
    font-family: Helvetica Neue LT,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    
}
#imgIconos{
    float: right;
    position: relative;
    margin-right: 20px;
    font-size: 0.8em;
 }
 

.container-fluid{
    height: 100%;
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*------>>botones<<--------------*/
.btn{
    text-align: center;
    /*font-weight: bold;*/
    font-weight: 500;
    border-radius: 100px;
    box-shadow: none;
    font-size: 15px;
    line-height: 13px;
    align-self: auto;
}
.btn-primary{
    background-color: #005FD1;
    color: #A1D8FA !important;
}

#btn-light-1{
    box-sizing: border-box;
    padding: 12px;
}

.btn-2{
    background-color: #fff;
    border-color: #A1D8FA;
    color: #A1D8FA !important;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 170px;
    font-size: 0.9em;
}
/*fin botones*/

/*INICIO Nav Bar*/
.navbar{
    background-color: #005FD1 !important;
}
.navbar-img-logo{
    position: relative;
    left: 50%;
}

#navbar-img-perfil-1{
    width: 40px;
    margin: 0 15px;
}

nav form input[type=search]{
    border-radius: 25px;
    font-size: 11px;
}

/*====================navbar=============================*/


.menus a{
    color: #A1D8FA !important;
   /* font-weight: bold;*/
    font-size: 14px;
    font-weight: 550;
}

.menus >li{
    display: inline-block;
    position: relative;
}
.menus >li >a{
    display: block;
    padding: 5px 30px;
    color: #0000 ;
    text-decoration: none;
}
.menus li a:hover{
color: #fff !important;
}


.submenu{
    position: absolute;
    background: #fff;
    color: #fff !important;
    font-weight: bold;
    width: 200%;
   visibility: hidden;
   padding: 10px 15px;
}

.submenu li a{
    display: in-block; 
    padding: 5px;
    color: #1DA1F2;
    text-decoration: none;
}
.submenu li a:hover{
    display: in-block; 
    padding: 5px;
    color: #005FD1 !important;
    text-decoration: none;
}
.menus li:hover .submenu{
 color:#fff;
 visibility: visible;
}

.button-style{
    border: none;
    
}

/*====================primera fase del centro de ayuda=============================*/
.seccion1{
    background-color: #005FD1; 
    background-image: url(../img/fondopajaro.PNG); 
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 102%;
    background-position-y: 102%;
    
    display: block;
    /*align-items: center;*/
    height: 290px;
    max-width:100%;  
}


/*foto del perfil*/
.container {
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    width: 50%;
  }
  

  .container img {
    width:32%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
  }
  
 
  .container .btn2 {
    position: absolute;
    top:50%;
    left: 17%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    
  }

  /*====================================seccion 1=======================*/
  .contenedor1{
    width: 55%;
    font-weight: bold;
    text-align: auto;
    color: #71c9f8;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -.025rem;
    margin-top: 47px;
    margin-left: 7%;
    float: left;
    
}

.contenedor2{
    width: 550px;
    font-weight: bold;
    text-align: auto;
    color: #71c9f8;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -.025rem;
    position: relative;
    bottom: 55px;
    margin-left: 52%;
    
}

input{
    width: 470px;
    background-color: transparent;
    border: none;
}

 ::placeholder{
    color: #1CA0F1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #1CA0F1;
}

#buscar{
    background-color: transparent;
    border: none;
}

i{
    color: #1CA0F1;
}

#pajaro{
    position: relative;
    float: right;
    margin-left: 1200px;
    
}

#linea1{
    background-color:#1CA0F1; 
    height: 2px;
}

#linea1 hover{
    background-color: #fff;
}

#linea1{
    background-color:#1CA0F1; 
    height: 2px;
}

/*====================================seccion 2=======================*/
.seccion2{
    height: 550px;
    max-width:100%;  
}

.contenedor3{
    width: 25%;
    font-weight: bold;
    text-align: auto;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 40px;
    margin-left: 7%;
    float: left;
    
}

.contenedor4{
    width: 710px;
    text-align: auto;
    color: #657786;
    position: relative;
    margin-left: 37%;
    top: 40px;
    
    
}

#tabla1{
    font-size: 1.125rem; 
    line-height: 1.5rem; 
    letter-spacing: .025rem; 
    font-weight: bold; 
    border-spacing:35px 25px;
    border-collapse: separate;
}

#parrafo1{
    font-weight: 400;
    letter-spacing: .015rem; 
    font-size: 1.5rem;
    margin-left: 35px;
}

#linea2{
    background-color:#1CA0F1; 
    height: 2px;
}

/*====================================seccion 3=======================*/
.seccion3{
    height: 600px;
    max-width:100%;  
}

#linea3{
    background-color: #008A51; 
    height: 2px;
}

/*====================================seccion 4=======================*/
.seccion4{
    height: 650px;
    max-width:100%;  
}

#linea4{
    background-color: #e0245e; 
    height: 2px;
}

/*====================================seccion 5=======================*/
.seccion5{
    height: 650px;
    max-width:100%;  
}

#linea5{
    background-color: #F45D22; 
    height: 2px;
}



.espacio{
    flex-direction: row;
    border-radius: 24px;
    padding-top: .5625rem;
    padding-bottom: .5625rem;
    border-width: 2px;
    border-style: solid;
    padding: .75rem 1.5rem;
    overflow: hidden;
    display: flex;
    border-color: #71c9f8;
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: .87rem;
    line-height: 1.5rem;
    letter-spacing: .025rem;
    box-sizing: border-box;
    top: 255px;
    position: relative;
}

/*====================octava fase del landing=============================*/
.land8{
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: #005FD1;
    display: block;
    height: 380px;
    max-width:100%;
    color: #69C5F7;
}

.table2 {
    width: 80%;
    letter-spacing: normal;
    padding-top: 2em;
    border-spacing: 10px 5px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    
}
.table2 a{
    color: #97e3ff;
}

.table2 a:hover{
    color: #fff;
}

th{
    font-weight: bold;
}

#imgs{
    width: 100%;
}

/*====================media Querys=============================*/

@media screen and (max-width: 1023px) {
    .contenedor1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: auto;
        letter-spacing: 0;
        }

    input{
            width: 350px;
    }
}

@media screen and (max-width: 1000px) {

   .table2{
       font-size: 90%;
       width: 100%;
   }

   
}
@media screen and (max-width: 1100px) {
    .table2{
        font-size: 90%;
        width: 100%;
    }  
}

@media screen and (max-width: 700px) {
   .table2{
    font-size:80%;
    width: 100%;
    }

}