body{
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Helvetica;
    overflow-y: scroll;
    overflow-y: visible;
}

.container-fluid{
    height: 95%;
    width: 100%;
}

/*Parte izq*/
.background_izq{
    background-image: url(../img/img_izq.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;

}

.izquierdo{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.lado_izq{
    min-width: 450px;
    padding: .8em;
}
/*Fin Parte izq*/

/*Parte der*/
.lado_der{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    align-content: center;
    max-width: 360px;
}

.a-forget-pass{
  font-size: 14px;
  width: 73%; 
  text-align: right;
}
h1{
    font-weight: bold;
    font-size: 1.7em;
}
/*Fin Parte der*/

/*Inputs*/
input{
    box-sizing: border-box;
    width: 210px;
    border-radius:3px;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 12px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
}

.input-user-login{
    position: absolute;
    right: 5%;
    float: right;
    padding-top: 20px;

}

/*Botones*/
.btn{
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    box-shadow: none;
    font-size: 14px;
    line-height: 20px;
}

.btn-light{
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
}

.btn-primary{
    background-color: #1DA1F2;
}

#btn-light-1{
    box-sizing: border-box;
    padding: 12px;
}

.btn-primary, #btn-light-2{
    border-radius: 1em;
    width: 100%;
    margin: 10px;
}
/*Fin Botones*/

/*Footer*/

#row-2{
    border-top: solid #e7ecf0;
    border-width: 0.1px;
}
.pie-pagina{
    margin: 7px;
    font-size: 0.85em;
    text-align: center;
    justify-content:center;
}

a{  
    color: #aab8c2;
    margin: auto 5px;
    min-width: auto;
    min-height: auto;
}
/*Fin Footer*/

