body{
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Helvetica;
    overflow-y: scroll;
    overflow-y: visible;
}

.container-fluid{
    height: 100%;
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*------>>botones<<--------------*/
.btn{
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    box-shadow: none;
    font-size: 15px;
    line-height: 13px;
    position: relative;
}
.btn-primary{
    background-color: #1DA1F2;
    color: #fff !important;
}

#btn-light-1{
    box-sizing: border-box;
    padding: 12px;
}
/*fin botones*/
.nav-t{
    margin: auto;
    width: 100%;  
    background-color: #1DA1F2 ;
    
}
.navt-t ul{
list-style: none;
}
/*====================navbar=============================*/

.menus a{
    color: #A1D8FA;
}

.menus >li{
    display: inline-block;
    position: relative;
}
.menus >li >a{
    display: block;
    padding: 5px 45px;
    color: #0000 ;
    text-decoration: none;
}
.menus li a:hover{
color: #fff;
}


.submenu{
    position: absolute;
    background: #fff;
    color: #fff;
    font-weight: bold;
    width: 200%;
   visibility: hidden;
}

.submenu li a{
    display: in-block; 
    padding: 5px;
    color: #000;
    text-decoration: none;
}
.submenu li a:hover{
    display: in-block; 
    padding: 5px;
    color: #1DA1F2;
    text-decoration: none;
}
.menus li:hover .submenu{
 color:#fff;
 visibility: visible;
}

.button-style{
    border: none;
    
}


/*====================primera fase del landing=============================*/
.land1{
    background-color: #1DA1F2; 
    display: block;
    align-items: center;
    height: 535px;
    max-width:100%;
    padding-top:65px;
    
}

#placeholder1{
    width: 65%;
    font-weight: bold;
    text-align: justify;
    letter-spacing: normal;
}
h2{
    font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 22px; 
    color: #fff;
    padding: 0.3rem;
    white-space: normal;
    align-self: auto;
    font-weight: bold;
    margin-left: 0.5em;
}
h1 {
    font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 4em; 
    color: #fff;
    padding: 1rem;
    white-space: normal;
    align-self: auto;
    line-height: normal;
    max-width: 100%;
    font-weight: bold;
}
h6 {
    color: #A1D8FA;
    max-width: 150px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 21px;
}

/*====================segunda fase del landing=============================*/
.land2{
    background-image: url(../img/mexico.jpg);
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    display: block;
    height: 660px;
    max-width:100%;
}
h3{
    font-size:50px;  
    color: #fff;
    font-weight: bold;
   padding-top: 4.5em;

}
/*====================tercera fase del landing=============================*/
.land3{
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: #1FB650;
    display: block;
    height: 2060px;
    max-width:100%;
    text-align: center;
}
#placeholder2{
    width: 65%;
    font-weight: bold;
    text-align: center;
    letter-spacing: normal;
    padding-top: 3em;
}

#marcaAgua1{
    font-size: 8em;
    color: #15A850;
    font-weight: bold;  
}

#tabla {
    position: relative;
}

#placeholder3{
    width: 60%;
}
/*====================cuarta fase del landing=============================*/
.land4{
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: #F5F8FA;
    display: block;
    height: 1500px;
    max-width:100%;
    text-align: center;
}

#placeholder4{
    width: 65%;
    font-weight: bold;
    text-align: center;
    letter-spacing: normal;
    padding-top: 3em;
}

.tweets{
margin:30px;
position: relative;
top:45px;
}

/*====================quinta fase del landing=============================*/
.land5{
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: #E0245E;
    display: block;
    height: 1000px;
    max-width:100%;
}

#placeholder5{
    width: 65%;
    font-weight: bold;
    letter-spacing: normal;
    padding-top: 3em;
    margin-left: 75px;
}

.tweets{
text-align: center;
margin-left: auto;
margin-right: auto;
}

/*====================sexta fase del landing=============================*/
.land6{
    background-image: url(../img/desplazamiento.png);
    background-position-x: 26%;
    background-position-y: 85%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: #794BC4;
    display: block;
    height: 660px;
    max-width:100%;
    text-align: center;
}

#placeholder6{
    width: 40%;
    font-weight: bold;
    letter-spacing: normal;
    padding-top:22em;
    text-align: center;
    
}
/*====================septima fase del landing=============================*/
.land7{
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: #fff;
    display: block;
    height: 420px;
    max-width:100%;
}

#placeholder7{
    width: 65%;
    font-weight: bold;
    letter-spacing: normal;
    padding-top: 5em;
    margin-left: 75px;
   
}
/*====================octava fase del landing=============================*/
.land8{
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: #1DA1F2;
    display: block;
    height: 380px;
    max-width:100%;
    color: #69C5F7;
}

.table2 {
    width: 80%;
    letter-spacing: normal;
    padding-top: 2em;
    border-spacing: 10px 5px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    
}
.table2 a{
    color: #97e3ff;
}

.table2 a:hover{
    color: #fff;
}

th{
    font-weight: bold;
}

#imgs{
    width: 100%;
}


/*====================media Querys=============================*/

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2.1em;
        }
    h2{
        font-size: 15px;
    }
    #placeholder1{
        width: 94%;
    }
    h3{
        font-size: 2.1em;
    }

   #imgs{
       width: 80%;
   }

   .table2{
       font-size: 90%;
       width: 100%;
   }

   
}
@media screen and (max-width: 1100px) {
    .table2{
        font-size: 90%;
        width: 100%;
    }  
}

@media screen and (max-width: 700px) {
    #marcaAgua1{
       font-size: 5em;
   }
   .table2{
    font-size:80%;
    width: 100%;
    }
    #placeholder6{
        width: 80%;
    }

}