body{
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Helvetica;
    overflow-y: scroll;
    overflow-y: visible;
    
    
}

.container-fluid{
    height: 100%;
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*------>>botones<<--------------*/
.btn{
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    box-shadow: none;
    font-size: 15px;
    line-height: 13px;
    position: relative;
}
.btn-primary{
    background-color: #1DA1F2;
    color: #fff !important;
}

#btn-light-1{
    box-sizing: border-box;
    padding: 12px;
}

.btn-2{
    background-color: #fff;
    border-color: #6E7D86;
    color: #6E7D86 !important;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 170px;
    font-size: 0.9em;
}

.btnCrear{
    background-color: #fff;
    border-color: #1DA1F2;
    color: #1DA1F2 !important;
    position: relative;
    font-size: 0.9em;
}

.btnSeguir{
    background-color: #fff;
    border-color: #1DA1F2;
    color: #1DA1F2 !important;
    position: relative;
    font-size: 0.9em;
}
/*fin botones*/

/*INICIO Nav Bar*/
.navbar{
    background-color: #fff !important;
}
.navbar-img-logo{
    position: relative;
    left: 50%;
}

#navbar-img-perfil-1{
    width: 40px;
    margin: 0 15px;
}

#navbar-img-perfil-2{
    width: 65px;
    margin: 0 15px;
}


nav form input[type=search]{
    border-radius: 25px;
    font-size: 15px;
}

/*FIN Nav Bar*/


/*====================navbar=============================*/

.menus a{
    color: #657786;
    font-weight: bold;
}

.menus >li{
    display: inline-block;
    position: relative;
}
.menus >li >a{
    display: block;
    padding: 5px 45px;
    color: #0000 ;
    text-decoration: none;
}
.menus li a:hover{
color: #47B2F4;
}

.submenu{
    position: absolute;
    background: #fff;
    color: #fff;
    font-weight: bold;
    width: 200%;
   visibility: hidden;
}

.submenu li a{
    display: in-block; 
    padding: 0px;
    color: #000;
    text-decoration: none;
}
.submenu li a:hover{
    display: in-block; 
    padding: 5px;
    color: #1DA1F2;
    text-decoration: none;
}
.menus li:hover .submenu{
 color:#fff;
 visibility: visible;
}

.button-style{
    border: none;
    
}

/*====================primera fase del perfil=============================*/
.seccion1{
    background-color: #1DA1F2; 
    display: block;
    align-items: center;
    height: 170px;
    max-width:100%;  
}
/*====================segunda fase del perfil=============================*/
.seccion2{
    background-color: #fff; 
    align-items: center;
    height: 17px;
    max-width:100%;
   align-self: auto;
}

/*foto del perfil*/
.container {
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    width: 50%;
  }
  

  .container img {
    width:32%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
  }
  
 
  .container .btn2 {
    position: absolute;
    top:50%;
    left: 17%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    
  }
 /*====================tercera fase del perfil=============================*/
.seccion3{
    background-color: #E6ECF0; 
    display: block;
    align-items: center;
    height: 200%;
    max-width:100%;  
}
.contenedor1{
    margin-left: 90px;
    padding: 50px;
    float: left;
}  

.contenedor2{
    background-color: #fff;
    width: 42%;
    margin-left:60px;
    position: relative;
    float: left;
    top: 12px;

}

#texto3{
    float: left;
    margin-left: 5px;
    font-size: 13px;
}
#textoSup{
    margin:15px;    
    font-size:18px
}

.contenedor3{
    background-color: #fff;
    width: 23%;
    margin-left:12px;
    position: relative;
    float: left;
    top: 12px;
    font-size: 14px;
}

.contenedor4{
    background-color: #fff;
    width: 23%;
    margin-left:70.5%;
    position: relative;
    float: left;
    top: 12px;
    font-size: 14px;
    margin-top: 20px;
}

.contenedor5{
    background-color: #fff;
    width: 23%;
    margin-left:70.5%;
    position: relative;
    float: left;
    top: 12px;
    font-size: 14px;
    margin-top: 20px;
    
}

.contenedor6{
    width: 17%;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 13.5%;
}

.pie-pagina{
    margin: 7px;
    font-size: 0.87em;
    text-align: left;
    justify-content: center;
}

.pie-pagina a{
    color: #6E7D86;
}

/*====================id imagenes=============================*/
  #imgCamara{
      width: 100%;
      border: none;
  }

#imgIconos{
   float: right;
   position: relative;
   margin-right: 20px;
   font-size: 0.8em;
}


